<!DOCTYPE html>
<title>Send a Text</title>
<html>
    <body>
        <h1>Send out a Text to Any Number</h1>
        <h3>Enter a message template, a phone number, and a name to send!</h3>
        <form method="POST" action="/text-message">
            <label for="template">Template:</label>
            <br/>
            <textarea style="resize: none;" name="template" placeholder="Hi {first_name}, this is an example message."></textarea>
            <br/><br/>
            <label for="data">Data:</label>
            <br/>
            <textarea style="resize: none;" rows="4" cols="25" name="data" 
            placeholder="phone, first_name &#13;&#10;801... Example 1 &#13;&#10;801... Example 2 &#13;&#10;801... Example 3"></textarea>
            <br/><br/>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>